h1 {
  font-family: Roboto;
  font-size: 30px;
  line-height: 1px;
  color: crimson;
}

div{
  display: inline;
  font-family: Roboto;
  font-size: 20px;
  line-height: 1px;
  color: black;
}

#container.main{
  display: block;
  width: 100%;
  margin: 35px 0;
  padding: 0 10px;

}
